#taskPopupDiv {
    position: absolute;
    z-index: 7;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgb(9, 9, 53, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
}

#newTaskForm {
    opacity: 100%;
    width: 30vw;
    height: auto;
    background-color: pink; 
    display:flex;
    flex-direction: column;
}

#newTaskForm label {
    text-align: left;
}