:root {
    --accent-color-purple: #645fc6;
    --accent-color-purple-hover: #8178ff;
    --panel-card-bg-color: #2c2c39;
    --main-bg-color: #21212d;
    --main-txt-color: rgb(255, 244, 244);
    --secondary-txt-color: #848fa0;
    --margin: 16px;
    --padding: 16px;
}

#sideMenu {
    border-right: 0.5px solid grey;
    background-color: var(--panel-card-bg-color);
    color: var(--main-txt-color);
}

#sideMenu h3 {
    margin: var(--margin);
}

#createNewBoardBtn {
    background-color: var(--accent-color-purple);
    color: var(--main-txt-color);
    border: none;
    border-radius: 100px;
    margin: var(--margin);
    padding: var(--padding);
    transition: background-color 0.3s;
}

#createNewBoardBtn:hover {
    background-color: var(--accent-color-purple-hover);
    cursor: pointer;
}

#boardsTitleCount {
    display: flex;
    white-space: nowrap;
}

.boardBtn {
    width: calc(100% - 20px);
    margin-left: 20px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    border: none;
    padding: var(--padding);
    border-radius: 50px 0px 0px 50px;
    color: white;
    background-color: var(--boardBtn-colour);
}

.boardBtn:hover {
    background-color: var(--accent-color-purple-hover);
    cursor: pointer;
}